$black: #1A1A1D;
// $white: #fcf9f7;
$white: #f7f4f2;
$red: #fc4e2b;
$blue: #16a5f2;
$orange: rgb(246, 172, 12);
$blue-2: rgb(28, 74, 224);
$violet: rgb(145, 51, 251);
$green-2: #7e8f20;
$green: #0ac743;
