@import '../../colors.scss';
@import '../../mixins.scss';
.nav {
    &__link-container {
        display: flex;
        flex-direction: column;

    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: 'Inconsolata', monospace;

        color: $white;
        font-size: 22px;
        font-weight: 700;
        border: 2px solid $blue;
        padding: 20px 40px;
        position: relative;
        
        &:nth-child(1) {
            margin-top: 15px;
            clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
        }

        &:nth-child(2) {
            border-top: none;
            margin-top: 0px;
            clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
        }

        &:hover {
            &::after {
                transform: scale(200);
                background-image: radial-gradient(rgba($blue, .7), rgba($red, .9));
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1px;
            height: 1px;
            transition: all .3s;
            border-radius: 50%;


        }
    }

    
}


@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }